.twin_list_section {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.twin_list_section_full_size {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
}

.single_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2% 4%;
}

.single_list_full_size {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
}

.reverse_order {
    direction: rtl;
}

.content {
    text-align: center;
    align-content: center;
    padding: 2rem;
}

.side_image {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    display: block;
}

.side_image_full_size {
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: center;
    display: block;
}

.button {
    color: black;
    background: white;
    border: none;
    padding: 1.5rem 7vw;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.button:hover {
    scale: 1.1;
    filter: brightness(110%);
}

.box_shadow {
    box-shadow: 0.2rem 0.2rem 0.5rem black;
}

@media (max-width: 768px) {
    .single_list {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr;
    }
    .single_list_full_size {
        width: 100%;
        grid-template-columns: 1fr;
    }
    .side_image {
        height: 40vh;
    }
    .side_image_full_size {
        height: 50vh;
    }
    .content {
        padding: 2rem;
    }
    .button {
        padding: 1rem 6vw;
    }
}
