.bot_icon {
    height: 4vw;
    width: 4vw;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 50;
    border-radius: 50%;
    object-fit: contain;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 5px black);
    -moz-filter: drop-shadow(0px 0px 5px black);
    -o-filter: drop-shadow(0px 0px 5px black);
    filter: drop-shadow(0px 0px 5px black);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.bot_icon:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.mgb_bot_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center; /* Ensures vertical alignment of logo and message */
}

.msg_bot_logo_wrapper {
    flex: 0 0 10%;
    margin-right: 2%;
    justify-content: center;
    display: flex; /* Centers logo horizontally */
    align-self: flex-end;
    margin-bottom: 2%;
}

.msg_bot_logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.chat_box {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 30;
    height: 60vh;
    width: 30vw;
    background: rgb(37, 37, 37);
    color: white;
    -webkit-box-shadow: -2px -2px 3px black;
    -moz-box-shadow: -2px -2px 3px black;
    -o-box-shadow: -2px -2px 3px black;
    box-shadow: -2px -2px 3px black;
}

.chat_box_close_button {
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 30;
    padding-right: 3%;
    font-size: 1.5rem;
    width: fit-content;
    justify-self: end;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.chat_box_close_button:hover {
    -webkit-filter: drop-shadow(0px 0px 2px rgb(74, 201, 255));
    -moz-filter: drop-shadow(0px 0px 2px rgb(74, 201, 255));
    -o-filter: drop-shadow(0px 0px 2px rgb(74, 201, 255));
    filter: drop-shadow(0px 0px 2px rgb(74, 201, 255));
}

.chat_box_content {
    height: 85%;
}

.message_box {
    background: rgb(22, 22, 22);
    overflow-y: auto;
    height: 65%;
    padding-left: 2%;
}

.form_box {
    display: flex;
    width: 100%;
}

.input_box {
    flex: 0 0 90%;
    border: 1px solid #ccc;
    padding: 8px;
    box-sizing: border-box;
    background: rgba(249, 249, 249, 0.936);
    color: rgb(17, 17, 17);
}

.send_button {
    flex: 0 0 10%;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 8px;
    box-sizing: border-box;
    font-size: 1rem;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.send_button:hover {
    -webkit-filter: brightness(1.1);
    -moz-filter: brightness(1.1);
    -o-filter: brightness(1.1);
    filter: brightness(1.1);
}

.stop_generate_button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    padding: 2%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.stop_generate_button:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.center {
    text-align: center;
}

.msg_bot {
    background-color: rgba(255, 255, 255, 0.087);
    max-width: 80%;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: fit-content;
    border-radius: 5px;
    word-break: break-word;
}

.msg_user {
    background-color: rgba(0, 0, 0, 0.109);
    max-width: 80%;
    justify-self: end;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .chat_box {
        width: 40vw;
    }
}

@media (max-width: 768px) {
    .bot_icon {
        height: 12vw;
        width: 12vw;
        bottom: 0.5rem;
        right: 0.5rem;
    }
    .chat_box {
        width: 100%;
    }
    .chat_box_close_button {
        font-size: 2rem;
    }
    .chat_box_content {
        height: 75%;
    }
}
