.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.item {
    width: 100%;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.item_img_wrapper {
    -webkit-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.item_img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.item_img_hover:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.item_content {
    -webkit-flex: 0 0 85%;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (max-width: 768px) {
    .item {
        width: 100% !important;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .item_img_wrapper {
        -webkit-align-content: start;
        -ms-flex-line-pack: start;
        align-content: start;
    }
    .item_content {
        padding-left: 10%;
    }
}