.title_header {
    font-size: 24pt;
    display: inline-block;
    margin: 2rem;
}

.photo_grid {
    padding: 0rem 2rem 2rem 2rem;
    display: -webkit-flex; /* Safari */
    display: -moz-flex; /* Firefox */
    display: -ms-flexbox; /* IE 10+ */
    display: flex; /* Standard */
    gap: 5rem;
    justify-content: center;
    flex-wrap: wrap;
}

/* Photo Container */
.photo_container {
    align-content: center;
    text-align: center;
    -webkit-align-items: center; /* Safari */
    -moz-align-items: center; /* Firefox */
    -ms-align-items: center; /* IE 10+ */
    align-items: center; /* Standard */
    justify-content: center;
    justify-items: center;
}

/* Photo Styling */
.photo {
    object-fit: contain;
    cursor: pointer;
    width: 5vw;
    height: auto;
    transition: 0.3s;
}

/* Photo Hover Effects */
.photo:hover {
    -webkit-transform: scale(1.2); /* Safari */
    -moz-transform: scale(1.2); /* Firefox */
    -ms-transform: scale(1.2); /* IE 10+ */
    transform: scale(1.2); /* Standard */
    filter: brightness(120%);
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .photo_grid {
        gap: 2.5rem;
    }
    .photo {
        width: 18vw;
    }
}
