.rounded {
    border-radius: 32px;
}

.collapsible_box {
    padding: 1rem;
    margin: 0;
}

.title_box {
    display: flex;
    justify-content: space-between;
}

.toggle_button {
    border: none;
    background: none;
    font-size: 24pt;
}