.rounded {
    border-radius: 32px;
}

.collapsible_box {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.title_box {
    display: flex;
    justify-content: space-between;
}

.toggle_button {
    border: none;
    background: none;
}