.text_section {
    background: rgb(38, 38, 38);
    color: white;
    padding: 4rem;
}

.hr {
    border: none; /* Remove default border */
    border-top: 1px solid #ccc; /* Light grey color for the top border */
    height: 1px; /* Adjust the height */
    margin: 1rem 0; /* Optional margin for spacing */
}

@media (max-width: 768px) {
    .text_section {
        padding: 2rem;
    }
}