.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  height: 100vh;
  overflow-y: auto;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  -o-object-fit: cover;
  -ms-object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  z-index: -2;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.videoFallback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* same as video to stay behind content */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
}
